/* --------------------------Reset Stylesheet-------------------------- */

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

body {
line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}

nav ul {
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}

del {
text-decoration: line-through;
}

abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
}

/* change border colour to suit your needs */
hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}
/* ------------- Up to here, Reset Stylesheet ------------- */


/* ------------- Initial setting ------------- */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 100vw; 
  max-width: 1500px;
  margin: 0 auto;
}


/* ------------- header ------------- */
.l-h {
  width: 100%;
  height: 70px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-h__company-name-wrapper {
  padding: 20px;
}

.l-h__company-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 180);
  font-weight: bold;
}

.l-h__nav {
  width: 400px;
  padding: 20px;
}

.l-h__nav-links {
  display: flex;
  justify-content: space-between;
}

.l-h__nav-link {
  color: rgb(0, 0, 180);
  font-weight: bold;
}


/* ------------- main -------------*/
.l-m {
  margin-top: 70px;
  position: relative;
}

.l-m__copy {
  position: absolute;
  top: 230px;
  font-size: 50px;
}

.l-m__bg-blue {
  width: 75%;
  height: 160px;
  position: absolute;
  top: 280px;
  background-color: rgb(0, 0, 140);
}

.l-m__bg-img {
  width: 50%;
  height: 360px;
  position: absolute;
  right: 0;
  top: 0;
  background: url("../img/firstview.jpeg") no-repeat center/cover;
}
